body
{
  color:darkturquoise;
  background:darkviolet;
}
span
{
  font-size: 30px;
}
#camera , #result
{
  border:2px - dashed deeppink;
  width: 350px;
  height: 300px; 
}
#result_emotion_name ,#result_emotion_name2  
{
  color:deepskyblue;
}
.emotion_name
{
  font-size: 40px;
}
.emoji
{
  font-size:48px;
}

.heading{
 font-size:25px; 
 letter-spacing: 0.2cm;
 border-radius: 10px;
}

label{
  font-size: 24px;
  color:dimgray;
  padding: 6px;
  background-color:dodgerblue;
  border-radius: 15px;
}
